
*, body {
  margin: 0px;
  padding: 0px;
  
}


.img-pro {
  border: 15px solid #c7a66f;
  border-radius: 50px;
}

.img-pro::after {
  background:linear-gradient(117deg, rgba(199,166,111,1) 0%, rgba(179,179,179,1) 50%, rgba(199,166,111,1) 100%)
}